html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column; /* Set the flex direction to column */
  /* height: 500px; Set a fixed height for the container */
  overflow-y: auto; /* Add scrollbars when content overflows vertically */
}

.top-links {
  background-color: #333;
  padding: 10px;
  text-align: center;
  width: 40%;
  margin: auto;
}

.top-links ul {
  list-style-type: none;
  margin: 0;
}

.top-links ul li {
  display: inline;
  margin-right: 20px;
}

.top-links ul li a {
  color: white;
  text-decoration: none;
  padding: 0px 20px;
}

.top-links ul li a:hover {
  color: red;
}

.column1,
.column2,
.column3 {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #333;
  box-shadow: 3px 3px 3px black;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(22, 22, 22);
  color: rgb(218, 19, 19);
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  padding: 20px;
}

.navbar {
  background-color: rgb(22, 22, 22);
  border: 8px solid rgb(74, 3, 3); /* Add red border to the navbar */
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

.navbar .navbar-links {
  list-style-type: none;
  margin: auto;
  padding: 10px;
  display: flex;
}

.navbar .navbar-links:not(.navbar-logo) {
  margin: 10px 5px; /* Add spacing between menu items */
}

.navbar .navbar-links li a:not(.navbar-logo) {
  color: white;
  text-decoration: none;
  padding: 20px 15px;
}

.navbar .navbar-links li a:hover {
  background-color: red;
}

@media screen and (max-width: 600px) {
  .navbar .navbar-toggle {
    display: block;
    float: right;
    cursor: pointer;
    padding: 16px 20px;
  }

  .navbar .navbar-links {
    display: none;
    flex-direction: column;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 100%; /* Position the dropdown menu below the navbar */
    left: 0;
    background-color: rgb(22, 22, 22);
  }

  .navbar .navbar-links.active {
    display: flex; /* Show the menu when burger menu is clicked */
  }

  .navbar .navbar-links li {
    margin: 0;
    text-align: center;
  }
}

.new-content {
  border: 8px solid rgb(74, 3, 3); /* Add red border to the navbar */
}

#message_bar {
  background-color: white;
  color: #555;
}

.burger-menu {
  cursor: pointer;
  display: none; /* Initially hidden for larger screens */
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

h1 {
  text-align: center;
}

/* log in page css */
.modal-body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the modal body takes up the full viewport height */
}

.modal {
  background-color: #1c1c1c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(245, 243, 243, 0.5);
  max-width: 400px;
  margin: 100px auto; /* Center the modal horizontally */
}

.modal h2 {
  text-align: center;
  color: red;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group input[type="submit"] {
  background-color: red;
  color: white;
  cursor: pointer;
  margin: 10px;
  width: 30%;
}

.form-group input[type="submit"]:hover {
  background-color: rgb(123, 6, 6);
}

.modal-logo {
  text-align: center;
}

h2 {
  color: red;
}

p {
  color: white;
}

/* Hide the main content and navigation bar by default */
#main-content {
  display: none;
}

.column2 a {
  display: block;
  margin-bottom: 10px;
  padding: 10px; /* Add padding to create space inside the box */
  border: 2px solid #ffffff; /* Add a border around the box */
  background-color: black;
  border-radius: 5px; /* Add rounded corners */
  color: #ffffff; /* Blue color for the links */
  width: 30%;
  text-align: center;
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and color changes */
}

.column2 a:hover {
  background-color: red; /* Darker background color on hover */
  color: #ffffff; /* White text color on hover */
}

.update-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.update-card h3 {
  margin-top: 0;
}

.update-card p {
  color: black;
}

.update-card a {
  text-decoration: none;
}
.update-card a:hover {
  text-decoration: underline;
}
